body{
    background:#ededed;
}
#app{
    padding:0;
    margin:0;
    min-width:1220px;
    .header{
        width:100%;
        background:#2d2e30;
        height:45px;
        h1{
            height:18px;
            width:18px;
            float:left;
            margin:12px 0 0 20px;
            img{
                cursor:pointer;
                width:100%;
            }
        }
        .dl_shopcar{
            float:right;
            margin-right:18px;
            width:72px;
            height:45px;
            color:#666;
            font-size:14px;
            .dl{
                width:36px;
                height:45px;
                float:left;
                a{
                    display:block;
                    width:20px;
                    height:20px;
                    margin:12px 0  0 8px;
                    font-size:18px;
                    text-align:center;
                    line-height:20px;
                    color:#666;
                }
            }
            .shopcar{
                width:36px;
                height:45px;
                float:left;
                a{
                    display:block;
                    width:20px;
                    height:20px;
                    margin:12px 0  0 8px;
                    font-size:20px;
                    text-align:center;
                    line-height:20px;
                    color:#666;
                    font-weight:900;
                }
            }
        }
        .c{
            height:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            ul{
                line-height:28px;
                font-size:18px;
                li{
                    color:#e5e5e5;
                    float:left;
                    font-size:12px;
                    cursor:pointer;
                    padding: 0 20px;
                    line-height:28px;
                }
                .first{
                    font-weight:700;
                }
                .last{
                    position:relative;
                    span{
                        border-radius:10px;
                        z-index:999;
                        display:none;
                        padding-top:5px;
                        width:150px;
                        height:150px;
                        position:absolute;
                        top:40px;
                        left:-8px;
                        text-align:center;
                        background:white;
                        img{
                            width:80%;
                            margin-left:0px;
                        }
                        p{
                            text-align:center;
                            font-size:12px;
                            margin-top:3px;
                            line-height:12px;
                            color:black;
                        }

                    }
                }
                .last:hover span{
                    display:block;
                }
            }
        }
    }
    .middle{
        padding-top:20px;
        min-height:100px;
        .xxbox{
            width:1220px;
            min-height:100px;
            margin:0 auto;
            .l{
                float:left;
                width:400px;
                padding:50px;
                text-align:center;
                img{
                    width:200px;
                    height:200px;
                }
            }
            .r{
                float:left;
                padding:80px 0;
                h1{
                    height:30px;
                    line-height:30px;
                    font-size:20px;
                    font-weight:900;
                    color:#333;
                    margin-bottom:15px;
                }
                h3{
                    height:20px;
                    line-height:20px;
                    font-size:16px;
                    font-weight:400;
                    color:gray;
                    margin-bottom:15px;
                }
                p{
                    height:30px;
                    line-height:30px;
                    font-size:24px;
                    font-weight:900;
                    color:red;
                    margin-bottom:15px;
                    .xj{
                        margin-right:15px;
                    }
                    .yj{
                        font-size:18px;
                        text-decoration:line-through;
                        color:gray;
                    }
                }
                .jrc{
                    width:100px;
                    height:40px;
                    border-radius:9px;
                    font-size:18px;
                    color:white;
                    background:#007acc;
                    display:block;
                    margin-left:15px;
                    line-height:40px;
                    font-weight:700;
                    text-align:center;
                    cursor: pointer;
                }
            }
        }
        .xxbox::after{
            visibility:hidden;
            display:block;
            font-size:0;
            content:"";
            clear:both;
            height:0;
        }
    }
    .middle::after{
        visibility:hidden;
        display:block;
        font-size:0;
        content:"";
        clear:both;
        height:0;
    }
    .footer{
        margin-top:30px;
        width:100%;
        height:350px;
        background:#fafafa;
        .top{
            overflow:hidden;
            position:relative;
            padding:60px 0 55px;
            border-bottom:1px solid #e6e6e6;
            width:1220px;
            height:122px;
            margin:0 auto;
            ul{
                float:left;
                li{
                    float:left;
                    margin-right:90px;
                    h5{
                        font-size:12px;
                        font-weight:400;
                        line-height:1;
                        padding-bottom:20px;
                    }
                    div{
                        a{  
                            display:block;
                            font-size:12px;
                            color:gray;
                            line-height:1;
                            padding:7px 0;
                        }
                    }
                }
            }
            ._r{
                overflow:hidden;
                float:right;
                text-align:right;
                h1{
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 1;
                    cursor: default;
                    color: #5079d9;
                }
                h2{
                    font-size: 12px;
                    line-height: 1;
                    color: #999;
                    margin-top:15px;
                }
                a{
                    display:block;
                    float:right;
                    margin-top:15px;
                    text-align:center;
                    color:#5079d9;
                    line-height:28px;
                    height:28px;
                    width:132px;
                    border-radius:10px;
                    font-size:16px;
                    border:1px solid gray;
                    font-weight:700;
                }
            }
        }
        .bottom{
            width:1220px;
            margin:0 auto;
            height:20px;
            padding:30px 0 60px;
            ul{
                margin-bottom:5px;
                height:12px;
                color: #bdbdbd;
                font-size: 12px;
                li{
                    float:left;
                    border-right:1px solid #434d55;
                    line-height:12px;
                    height:12px;
                    padding:0 10px;
                    a{
                        color:#bdbdbd;
                    }
                    a:hover{
                        color:blue;
                    }
                }
                .last{
                    border:none;
                }
            }
        }
    }
}