body{
    background:#ededed;
    .toshouye{
        position:absolute;
        left:150px;
        top:10px;
        display:block;
        width:60px;
        height:30px;
        background:white;
        text-align:center;
        font-size:24px;
        line-height:30px;
        font-weight:900;
        color:#333;
        border-radius:5px;
        z-index:99;
    }
}
#app{
    padding:0;
    margin:0;
    min-width:1220px;
    .header{
        width:100%;
        background:#2d2e30;
        height:45px;
        h1{
            height:18px;
            width:18px;
            float:left;
            margin:12px 0 0 20px;
            img{
                cursor:pointer;
                width:100%;
            }
        }
        .dl_shopcar{
            float:right;
            margin-right:18px;
            width:72px;
            height:45px;
            color:#666;
            font-size:14px;
            .dl{
                width:36px;
                height:45px;
                float:left;
                a{
                    display:block;
                    width:20px;
                    height:20px;
                    margin:12px 0  0 8px;
                    font-size:18px;
                    text-align:center;
                    line-height:20px;
                    color:#666;
                }
            }
            .shopcar{
                width:36px;
                height:45px;
                float:left;
                a{
                    display:block;
                    width:20px;
                    height:20px;
                    margin:12px 0  0 8px;
                    font-size:20px;
                    text-align:center;
                    line-height:20px;
                    color:#666;
                    font-weight:900;
                }
            }
        }
        .c{
            height:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            ul{
                line-height:28px;
                font-size:18px;
                li{
                    color:#e5e5e5;
                    float:left;
                    font-size:12px;
                    cursor:pointer;
                    padding: 0 20px;
                    line-height:28px;
                }
                .first{
                    font-weight:700;
                }
                .last{
                    position:relative;
                    span{
                        border-radius:10px;
                        z-index:999;
                        display:none;
                        padding-top:5px;
                        width:150px;
                        height:150px;
                        position:absolute;
                        top:40px;
                        left:-8px;
                        text-align:center;
                        background:white;
                        img{
                            width:80%;
                            margin-left:0px;
                        }
                        p{
                            text-align:center;
                            font-size:12px;
                            margin-top:3px;
                            line-height:12px;
                            color:black;
                        }

                    }
                }
                .last:hover span{
                    display:block;
                }
            }
        }
    }
    .middle{
        width:1220px;
        min-height:600px;
        padding:30px 0 25px;
        margin:0 auto;
        overflow:hidden;
        .header{
            height:60px;
            line-height:60px;
            padding:0 10px 0 30px;
            color: rgba(0,0,0,.6);
            background-color:#fafafa;
            font-size:18px;
            border: 1px solid #dbdbdb;
            border-radius:8px 8px 0 0;
            font-weight:900;
        }
        .kbym{
            background:url(../img/shopcarbg.jpg) no-repeat center top;
            height:128px;
            background-color:#ffffff;
            padding-top:400px;
            h4{
                height:16px;
                line-height:16px;
                font-size:14px;
                color:gray;
                text-align:center;
            }
            div{
                margin-top:10px;
                text-align:center;
                a{
                    display:inline-block;
                    width:100px;
                    height:40px;
                    font-size:18px;
                    line-height:40px;
                    border-radius:9px;
                    font-size:700;
                }
                .dl{
                    color:white;
                    background:#4e6ef2;
                }
                .xg{
                    border:1px solid gray; 
                    color:#333;
                }
                
            }
        }
        .goodsxx{
            height:38px; 
            line-height:38px;
            font-size:12px;
            font-weight:700;
            background: #f5f5f5;
            border: 1px solid #dbdbdb;
            border-top:none;
            padding-left:30px;
            ._l{
                float:left;
                text-align:left;
                color: #838383;
                width:48px;
            }
            ._r{
                width:137px;
                float:right;
                text-align:center;
                color: #838383;
            }
        }
        .goodsbox{
            display:none;
            background:#ffffff;
            border-left:1px solid #dbdbdb;
            border-right:1px solid #dbdbdb;
            min-height:100px;
            padding:10px 0;
            .goods{ 
                height:110px;
                margin-bottom:5px;
                .check{
                    float:left;
                    padding:46px 26px 46px 26px;
                }
                .img{
                    width:80px;
                    height:80px;
                    padding:15px 26px 0 0;
                    display:block;
                    float:left;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                .xq{
                    float:left;
                    padding-top:30px;
                    a{
                        font-size:16px;
                        line-height:18px;
                        color:black;
                    }
                    p{
                        color:gainsboro;
                        margin-top:8px;
                        font-size:12px;
                    }
                }
                .cz{
                    padding: 43px 0 0;
                    font-size: 12px;
                    line-height: 24px;
                    text-align:center;
                    width:137px;
                    float:right;
                    span{
                        cursor: pointer;
                        display:inline-block;
                        text-align:center;
                        width:22px;
                        height:22px;
                        line-height:22px;
                        font-size:16px;
                        color:gray;
                        font-weight:900;
                        border:1px solid gray;
                        border-radius:50%;
                    }
                }
                .xj{
                    float:right;
                    width:137px;
                    margin-top:45px;
                    font-weight:700;
                    text-align:center;
                    font-size:14px;
                    color:#666;
                }
                .sl{
                    width:137px;
                    text-align:center;
                    float:right;
                    padding-top:40px;
                    .jia,.jian{
                        cursor: pointer;
                        display:inline-block;
                        width:22px;
                        height:22px;
                        border:2px solid gainsboro;
                        text-align:center;
                        font-size:16px;
                        font-weight:900;
                        line-height:22px;
                        color:#333;
                        border-radius:50%;

                    }
                    .show{
                        padding:0 10px;
                        color:#333;
                        height:22px;
                        line-height:22px;
                        font-size:18px;
                        font-weight:900;

                    }
                }
                .dj{
                    width:137px;
                    float:right;
                    height:110px;
                    font-size:16px;
                    color:#666;
                    line-height:110px;
                    text-align:center;
                }
            }
        }
        .goods::after{
            visibility:hidden;
            display:block;
            font-size:0;
            content:"";
            clear:both;
            height:0;
        }
        .plcz{
            height:80px;
            background: #fafafa;
            border: 1px solid #dbdbdb;
            border-top:none; 
            border-radius:0 0 8px 8px;
            overflow:hidden;
            .l{
                float: left;
                padding: 30px 26px;
                font-size: 12px;
                .checkall{
                    height:20px;
                    line-height:20px;
                    float:left;
                    span{
                        margin-left:9px;
                        color:black;
                        font-weight:700;
                    }
                }
                button{
                    height:18px;
                    line-height:18px;
                    font-size:12px;
                    border:none;
                    border-left:1px solid gray;
                    color:gray;
                    margin-left:10px;
                    padding-left:10px;
                    float:left;
                    cursor:pointer;
                }
            }
            .r{
                float: right;
                padding: 17px 30px;
                font-weight: 700;
                font-size: 14px;
                color: #666;
                .sl{
                    float:left;
                    height:100%;
                    line-height:40px;
                    text-align:center;
                    padding:0 10px;
                    border-right:1px solid gainsboro;
                    color:#323232;
                    font-weight:700;
                    span{
                        padding:0 5px;
                        color:red;
                    }
                }
                .je{
                    float:left;
                    height:100%;
                    line-height:40px;
                    text-align:center;
                    padding:0 10px;
                    color:#323232;
                    font-weight:700;
                    span{
                        padding:0 5px;
                        color:red;
                    }
                }
                a{
                    float:left;
                    width:64px;
                    height:100%;
                    padding:2px 32px;
                    display: block;
                    border-radius: 9px;
                    cursor: pointer;
                    color:white;
                    background:#5079d9;
                    font-size: 16px;
                    line-height: 40px;
                }
            }
        }
        .goodslist{
            margin-top:40px;
            background:gainsboro;
            min-height:100px;
            border:1px solid #dbdbdb;
            border-radius:8px;
            overflow:hidden;
            .title{
                height:60px;
                line-height:60px;
                padding:0 10px 0 30px;
                color: rgba(0,0,0,.6);
                background-color:#fafafa;
                font-size:18px;
                border: 1px solid #dbdbdb;
                border-radius:8px 8px 0 0;
                font-weight:900;
            }
            .list{
                width:1228px;
                min-height:100px;
                .sp{
                    width:303px;
                    height:429px;
                    background:#fff;
                    margin-right:2px;
                    margin-bottom:2px;
                    float:left;
                    .img{
                        display:block;
                        width:217px;
                        height:216px;
                        padding:45px 43px 20px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                    h4{
                        height:18px;
                        line-height:17px;
                        font-size:14px;
                        text-align:center;
                        margin:0 24px;
                        overflow:hidden;
                        color:#666;
                        font-weight:700;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    h6{
                        height:15px;
                        line-height:14px;
                        font-size:12px;
                        text-align:center;
                        margin:0 24px;
                        overflow:hidden;
                        color:#999;
                        font-weight:700;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding: 15px 24px 0;
                    }
                    .jg{
                        height:20px;
                        margin-top:20px;
                        text-align:center;
                        .xj{
                            margin-right:10px;
                            color:red;
                            font-size:16px;
                            line-height:20px;
                            font-weight:900;
                        }
                        .yj{
                            color:gray;
                            font-size:10px;
                            line-height:23px;
                            text-decoration:line-through;
                        }
                    }
                    .jrgwc{
                        display:none;
                        height:30px;
                        margin-top:20px;
                        text-align:center;
                        a{
                            line-height:28px;
                            display:inline-block;
                            text-align:center;
                            border: 1px solid #e1e1e1;
                            border-radius: 4px;
                            font-size: 12px;
                            font-weight: 700;
                            color: #646464;
                            background-color: #f9f9f9;
                            width:100px;
                            height:30px;
                            margin:0 5px;
                        }
                        span{
                            cursor: pointer;
                            display:inline-block;
                            line-height:28px;
                            width: 100px;
                            height: 30px;
                            margin: 0 5px;
                            text-align:center;
                            font-size:12px;
                            border: 1px solid #5c81e3;
                            color: #fff;
                            background-color: #6f97e5;
                            border-radius:4px;
                        }
                    }
                }
                .sp:hover{
                    opacity:0.7;
                }
                .sp:hover .jg{
                    display:none;
                }
                .sp:hover .jrgwc{
                    display:block;
                }
            }
            .list::after{
                visibility:hidden;
                display:block;
                font-size:0;
                content:"";
                clear:both;
                height:0;
            }
        }
        .goodslist::after{
            visibility:hidden;
            display:block;
            font-size:0;
            content:"";
            clear:both;
            height:0;
        }
    }
    .middle::after{
        visibility:hidden;
        display:block;
        font-size:0;
        content:"";
        clear:both;
        height:0;
    }
    .footer{
        margin-top:30px;
        width:100%;
        height:350px;
        background:#fafafa;
        .top{
            overflow:hidden;
            position:relative;
            padding:60px 0 55px;
            border-bottom:1px solid #e6e6e6;
            width:1220px;
            height:122px;
            margin:0 auto;
            ul{
                float:left;
                li{
                    float:left;
                    margin-right:90px;
                    h5{
                        font-size:12px;
                        font-weight:400;
                        line-height:1;
                        padding-bottom:20px;
                    }
                    div{
                        a{  
                            display:block;
                            font-size:12px;
                            color:gray;
                            line-height:1;
                            padding:7px 0;
                        }
                    }
                }
            }
            ._r{
                overflow:hidden;
                float:right;
                text-align:right;
                h1{
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 1;
                    cursor: default;
                    color: #5079d9;
                }
                h2{
                    font-size: 12px;
                    line-height: 1;
                    color: #999;
                    margin-top:15px;
                }
                a{
                    display:block;
                    float:right;
                    margin-top:15px;
                    text-align:center;
                    color:#5079d9;
                    line-height:28px;
                    height:28px;
                    width:132px;
                    border-radius:10px;
                    font-size:16px;
                    border:1px solid gray;
                    font-weight:700;
                }
            }
        }
        .bottom{
            width:1220px;
            margin:0 auto;
            height:20px;
            padding:30px 0 60px;
            ul{
                margin-bottom:5px;
                height:12px;
                color: #bdbdbd;
                font-size: 12px;
                li{
                    float:left;
                    border-right:1px solid #434d55;
                    line-height:12px;
                    height:12px;
                    padding:0 10px;
                    a{
                        color:#bdbdbd;
                    }
                    a:hover{
                        color:blue;
                    }
                }
                .last{
                    border:none;
                }
            }
        }
    }

}